* {
}
/* .heading {
  text-align: center;
  color: red;
  margin: 70px 0;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  background: #3fabfb;
}
div {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  border: 2px solid white;
  padding: 20px;
  background-color: #ffc0cb;
  border-radius: 99px;
}
